<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About</h2>
        <h3 class="section-subheading text-muted">
          From the glow of television screens to the immersive worlds of video
          games, and now to the interactive spaces of the web — my creative
          journey has been anything but linear. I've spent years in the heart of
          the media industry, shaping stories through TV and production,
          learning the power of narrative and visual impact. That passion
          evolved into building virtual experiences in the gaming world, where
          interactivity meets storytelling on a whole new level...
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img
                class="img-circle img-responsive"
                src="img/about/1.jpg"
                alt=""
              />
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2022/23</h4>
                <h4 class="subheading">Humble Beginnings</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Landing a internship after pure dedicaion/messing around with
                  computers
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img
                class="img-circle img-responsive"
                src="img/about/2.jpg"
                alt=""
              />
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>April 2023</h4>
                <h4 class="subheading">My Agency is Born</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  After realising the craft and exampanding on my knowledge and
                  skillset
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img
                class="img-circle img-responsive"
                src="img/about/3.jpg"
                alt=""
              />
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2024</h4>
                <h4 class="subheading">First Clients</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
                  ut voluptatum eius sapiente, totam reiciendis temporibus qui
                  quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                  dolore laudantium consectetur!
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img
                class="img-circle img-responsive"
                src="img/about/4.jpg"
                alt=""
              />
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2025 Onwards...</h4>
                <h4 class="subheading">Growth</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
                  ut voluptatum eius sapiente, totam reiciendis temporibus qui
                  quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                  dolore laudantium consectetur!
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>
                Join <br />
                My <br />Journey!
              </h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
